{% extends "layout.html" %} {% block content %}
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjAcTDHNKiGCOUaQCMIDrabaO9f8ET_rc&sensor=true"></script>


    


</head>

<div class='row left-margin'>
    <div class='main col-sm-4' id="button-row">
        <button type="button" class="btn btn-default">Day 1</button>
        <button type="button" class="btn btn-default">Day 2</button>
        <button type="button" class="btn btn-default">Day 3</button>
        
        <button type="button" class="btn btn-default" id="add_day">+ Add Day</button>
    </div>
    <div class='col-sm-8 '>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-hotels" data-toggle="dropdown" aria-expanded="false" >
                Hotels <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id='hotels'>
                <li class="divider"></li>
            </ul>

        </div>
        <button type="button" class="btn btn-primary">Add</button>


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                Things to do <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id='things'>
                <li class="divider"></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary">Add</button>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                Restaurants <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id='restaurants'>
                <li class="divider"></li>
                
            </ul>
        </div>
        <button type="button" class="btn btn-primary">Add</button>
    </div>
</div>
<div class='row' id='mapRow'>
    <div class= 'col-md-4' id='plans'>
        <ul id='plans'><h3>Plan for Day</h3></ul>

    </div>
    
    <div class = 'col-md-8' id='mapColumn'>
        <div  id='map-canvas'>
        </div>

    </div>
</div>


</div>
</div>


<script>
    {% autoescape false %}
    var all_hotels = {{hotels | json}};
    var all_restaurants = {{restaurants | json}};
    var all_things_to_do = {{things_to_do | json}}; 
    {% endautoescape %}

</script>




{% endblock %}