.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.left-margin {
	margin-top: 90px;
	margin-left: 50px;
}

#mapRow {
	margin: 10px;
}

#mapColumn {
	height: 750px;
}


#map-canvas{
	height: 100%;
	width: 100%;
}

.plans {
	visibility: hidden;
	display: none;
}